<div class="card" style=" margin-bottom: 1rem; margin-top: 1rem">
    <div class="row" style=" padding: '1rem' ">
        <div class="row">
            <div class="col">
                <div>
                    <h6>Thêm key</h6>
                    <br />
                    <div>
                        <div class="row">
                            <div class="col">
                                <input class="form-control" name="code" onChange={this.onChange} size="sm" type="text"
                                    placeholder="Tên key" />
                            </div>
                        </div>
                    </div>
                </div>

                <button variant="secondary" style=" float: right; margin-top: 1rem " type="button"
                    class="btn btn-default">button</button>

            </div>
        </div>
    </div>
</div>