<body>
  <div class="navbar-wrapper">
      <nav style="margin-bottom: 0px;
                  border: 1px solid black;
                  padding-right: 10rem;
                  padding-left: 5rem;
                  border-radius: 0;"
                  class="navbar navbar-default"
                   role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Games</a></li>
                  <li><a href="#">About</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                  <div class="searchbar">
                      <input type="text" class="form-control" placeholder="Search">
                      <i class="fa fa-search"></i>
                  </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="#">Sign Up</a>
                  </li>
                  <li>
                      <a href="#">Sign In</a>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
        <!-- NavBar-2 -->
        <nav  style="border: none; padding-right: 10rem;" class="navbar navbar-default" role="navigation">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li style="display: flex;">
                      <a>
                          <div class="money">
                              <i class="fa fa-money"></i>
                              <span>300.000 VND</span>
                          </div>
                      </a>
                      <a>
                          <div class="favorite">
                              <i class="fa fa-star"></i>
                              <span>0</span>
                          </div>
                      </a>
                      <a>
                          <div class="cart" id="cart">
                              <i class="fa fa-shopping-cart"></i>
                              <span>0</span>
                          </div>
                      </a>
                  </li>

              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>

  </div>
  <div class="container">
      <!-- NavBar -->

      <!-- Section 1 -->
      <section>
          <!-- <div class="banner-1">
              <img scr>
          </div> -->
          <div class="carousel-container">
              <!-- Carousel-1 -->
              <div class="carousel-1">
                  <div id="carousel-id" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                          <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item">
                              <img src="https://cdn2.unrealengine.com/egs-darkdeception-glowstickentertainment-g1a-04-1920x1080-a5f8fd897c5e.jpg?h=720&resize=1&w=1280">
                              <div class="carousel-caption">
                                  <div class="panel panel-default">
                                      <div class="panel-footer">
                                          footer
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="item">
                              <img src="https://cdn2.unrealengine.com/egs-darkdeception-glowstickentertainment-g1a-04-1920x1080-a5f8fd897c5e.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="item active">
                              <img src="https://cdn2.unrealengine.com/egs-darkdeception-glowstickentertainment-g1a-04-1920x1080-a5f8fd897c5e.jpg?h=720&resize=1&w=1280">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span
                              class="glyphicon glyphicon-chevron-left"></span></a>
                      <a class="right carousel-control" href="#carousel-id" data-slide="next"><span
                              class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
              </div>
              <!-- Carousel-2 -->
              <div class="carousel-2">
                  <div id="carousel-id" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                          <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item">
                              <img src="https://cdn2.unrealengine.com/egs-thosewhoremain-camel101-g1a-02-1920x1080-66779b2e8d7c.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="item">
                              <img src="https://cdn2.unrealengine.com/egs-thosewhoremain-camel101-g1a-02-1920x1080-66779b2e8d7c.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="item active">
                              <img src="https://cdn2.unrealengine.com/egs-thosewhoremain-camel101-g1a-02-1920x1080-66779b2e8d7c.jpg?h=720&resize=1&w=1280">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span
                              class="glyphicon glyphicon-chevron-left"></span></a>
                      <a class="right carousel-control" href="#carousel-id" data-slide="next"><span
                              class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
              </div>
          </div>
      </section>

      <!-- Section 2 -->
      <section>
          <!-- Game Tags Section -->
          <div class="tags-container">
              <!-- Collumn-1 -->
              <div class="left-col">
                  <!-- Featured -->
                  <h4>Hot Game</h4>
                  <div class="hot-preorder">
                    <!-- Game cards -->

                    <div style="width:100%" id="carousel-id" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojN2E3YTdhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Example headline.</h1>
                                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNmE2YTZhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Another example headline.</h1>
                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNWE1YTVhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+VGhpcmQgc2xpZGU8L3RleHQ+PC9zdmc+">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>One more for good measure.</h1>
                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>

                </div>

                  <!-- Hot Preorder -->
                  <h4 style="margin-top: 3rem;">Hot Preorder</h4>
                  <div class="hot-preorder">
                      <!-- Game cards -->
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://cdn2.unrealengine.com/egs-exoone-exbleative-g1a-02-1920x1080-8c96f71df4b0.jpg">
                              </div>
                              <div class="panel-body">
                                  Exo one
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://cdn2.unrealengine.com/egs-farmingsimulator22preorderbundle-giantssoftware-s3-2560x1440-fe0f2c2e5147.jpg">
                              </div>
                              <div class="panel-body">
                                  Farming simulator 2
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://cdn1.epicgames.com/spt-assets/7e7f1d55c56f40c3a048eb7ca7f9279d/undungeon-video-1n82i.jpg?h=720&resize=1&w=1280">
                              </div>
                              <div class="panel-body">
                                  Undungeon
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- New Release -->
                  <h4  style="margin-top: 3rem;">New Released</h4>
                  <div class="new-released">
                      <!-- Game cards -->
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://media-cdn.epicgames.com/f65859b17c004610ba2dbc4849be4917/f65859b17c004610ba2dbc4849be4917-00001-thumb.png?h=720&resize=1&w=1280">
                              </div>
                              <div class="panel-body">
                                  The last friend
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://cdn2.unrealengine.com/egs-nexomonextinction-vewointeractiveinc-g1a-00-1920x1080-921ddd64e9a0.jpg">
                              </div>
                              <div class="panel-body">
                                  Nexomon: Extinction
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="game-card-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <img src="https://cdn2.unrealengine.com/egs-marvelsguardiansofthegalaxy-eidosmontral-g1c-accolades-1920x1080-40304ad0a770.jpg?h=720&resize=1&w=1280">
                              </div>
                              <div class="panel-body">
                                  Marvel's Guardians of the Galaxy
                              </div>
                              <div class="panel-footer">
                                  <div class="left-footer">
                                      <i class="fa fa-steam"></i>
                                      <i class="fa fa-windows"></i>
                                  </div>
                                  <div class="item-right-col">
                                      <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Collumn-2 -->
              <div class="right-col">
                  <h4>Top buy games</h4>
                  <!-- right-col-item -->
                  <div class="item">
                      <div class="item-left-col">
                          <p>1. Borderland 3</p>
                          <i class="fa fa-steam"></i>
                          <i class="fa fa-windows"></i>
                      </div>
                      <div class="item-right-col">
                          <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="item-left-col">
                          <p>2. ChromaGun</p>
                          <i class="fa fa-steam"></i>
                          <i class="fa fa-windows"></i>
                      </div>
                      <div class="item-right-col">
                          <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="item-left-col">
                          <p>3.Sekiro</p>
                          <i class="fa fa-steam"></i>
                          <i class="fa fa-windows"></i>
                      </div>
                      <div class="item-right-col">
                          <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="item-left-col">
                          <p>4. Fall Guys</p>
                          <i class="fa fa-steam"></i>
                          <i class="fa fa-windows"></i>
                      </div>
                      <div class="item-right-col">
                          <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="item-left-col">
                          <p>5. Skyfall</p>
                          <i class="fa fa-steam"></i>
                          <i class="fa fa-windows"></i>
                      </div>
                      <div class="item-right-col">
                          <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Section-3 -->
      <section style="margin-top: 5rem;">
          <h4>More games</h4>
          <div class="game-list">
              <div class="game">
                  <div class="game-card-1">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <img src="https://cdn2.unrealengine.com/egs-footballmanager2022-sportsinteractive-s1-2560x1440-8a365ea69b42.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="panel-body">
                              Football Manager 2022
                          </div>
                          <div class="panel-footer">
                              <div class="left-footer">
                                  <i class="fa fa-steam"></i>
                                  <i class="fa fa-windows"></i>
                              </div>
                              <div class="item-right-col">
                                  <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="game">
                  <div class="game-card-1">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <img src="https://cdn2.unrealengine.com/solarash-keyart-landscape-egs-1920x1080-6653b006f96a.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="panel-body">
                              Solar Ash
                          </div>
                          <div class="panel-footer">
                              <div class="left-footer">
                                  <i class="fa fa-steam"></i>
                                  <i class="fa fa-windows"></i>
                              </div>
                              <div class="item-right-col">
                                  <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="game">
                  <div class="game-card-1">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <img src="https://cdn1.epicgames.com/spt-assets/67b62c78bde74cc49b71940a72770921/dumpy-and-bumpy-r3fd5.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="panel-body">
                              Dumpy and Bumpy
                          </div>
                          <div class="panel-footer">
                              <div class="left-footer">
                                  <i class="fa fa-steam"></i>
                                  <i class="fa fa-windows"></i>
                              </div>
                              <div class="item-right-col">
                                  <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="game">
                  <div class="game-card-1">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <img src="https://cdn2.unrealengine.com/egs-wherecardsfall-thegameband-g1a-01-1920x1080-191180193.jpg?h=720&resize=1&w=1280">
                          </div>
                          <div class="panel-body">
                              Where Cards Fall
                          </div>
                          <div class="panel-footer">
                              <div class="left-footer">
                                  <i class="fa fa-steam"></i>
                                  <i class="fa fa-windows"></i>
                              </div>
                              <div class="item-right-col">
                                  <a class="btn hover-btn-completed" btn-price="24.44$"></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
<!-- script -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
