<div>
    <div style=" background-color: #3ac9c9 ; padding-left: 2rem ; height: 56px ; padding-bottom: 1rem ">
        <p style=" color: white ; font-size: 23px ; padding-top: 1rem ">Chi tiết collection</p>
    </div>
    <div class="container">
        <div style=" display: flex ; flex-direction: column ">
            <div class="container" style=" background-color: white ; width: 60rem ; margin-left: 8% ; padding: 1rem ">
                <div class="card" style="padding:2rem;width:30rem">
                    <h5>Thông tin Collection</h5>
                    <h6>Collection ID: </h6>
                    <h6>Tên Collection: </h6>
                    <div class="row">
                        <div className="parent-row-1-container" style=" display: flex ;
                            justify-content: space-between ">
                            <div className="product-details-table">

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên game</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>