<div class="search">
    <div class="searchInputs">
        <input
            style="text-transform: uppercase;"
            type="text"
            placeholder={placeholder}
            value={wordEntered}
            onChange={handleFilter}
        />
        <div class="searchIcon">
            <i class="fa fa-sesarch"></i>
        </div>
    </div>
    <!-- {filteredData.length != 0 && (
        <div class="dataResult">
            {filteredData.slice(0, 15).map((value, key) => {
                return (
                    <p onClick={() => onUpdate(value)}>{value.name}</p>
                );
            })}
        </div>
    )
    } -->
</div >