<div class="login-body">
    <div class="container">
        <h2 style="color: white;">Login</h2>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput>
        </mat-form-field>
        <div class="size-box"></div>
        <button class="login-btn" mat-button color="primary">LOGIN</button>
        <div class="text">Don't have an account? Creat one now!</div>
        <div class="decorate">
            Or
        </div>
        <div class="text">Reset password</div>
        <button class="facebook-btn" mat-button color="primary">
            <mat-icon>facebook</mat-icon>
            <span style="margin-left:5px">LOGIN WITH FACEBOOK</span>
        </button>
        <button class="google-btn" mat-button color="primary">
            <img src="https://freesvg.org/img/1534129544.png">
            <span style="margin-left:5px;color:black;">LOGIN WITH GOOGLE</span>
        </button>
    </div>
</div>