<header class="header">
    <mat-toolbar-row>
        <div class="header-right">
            <mat-form-field>
                <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">search
                </mat-icon>
                <input type="text" matInput placeholder="Search...">
                <div class="cart">
                    <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">shopping_cart
                    </mat-icon>
                </div>
                <div class="user">
                    <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">person
                    </mat-icon>
                </div>
            </mat-form-field>
        </div>

    </mat-toolbar-row>
</header>

<body>
    <div class="container">
        <div class="size-box"></div>
        <div class="row">
            <div class="col-1">
                <p class="category-text">Discover</p>
            </div>
            <div class="col-1">
                <p class="category-text">Browse</p>
            </div>
            <div class="col-10">
            </div>
        </div>
        <!-- big-banner -->
        <div class="row">
            <!-- left-collumn -->
            <div class="col-8">
                <h2>Dead by daylight</h2>
                <div class="big-banner">
                    <img
                        src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S1_2560x1440-9790e96a8d2a08325bd7b4dc70148127?h=270&resize=1&w=480">
                </div>
                <div class="size-box"></div>
                <div class="game-detail">
                    <div class="description">
                        <p>Dive into asdhasdasdhasukdhsadls hadkjashdkjsahdkjasdhaskjdhas kjdsahkdasjsadjkashdkja
                            shdasdkjashdaskjdas khdasdhjskjaskadshkadshadsh</p>
                    </div>
                    <div class="size-box"></div>
                    <div class="genres">
                        <p>genres</p>
                        <p>Action, Shooter, Adventure</p>
                    </div>
                    <div class="size-box"></div>
                    <div class="description">
                        <p>Dive into asdhasdasdhasukdhsadls hadkjashdkjsahdkjasdhaskjdhas kjdsahkdasjsadjkashdkja
                            shdasdkjashdaskjdas khdasdhjskjaskadshkadshadsh</p>
                    </div>
                    <!-- editon -->
                    <div class="edition">
                        <h2>Edition</h2>
                        <div class="game-detail-card">
                            <div class="first-row">
                                <div class="row">
                                    <div class="col-4">
                                        <img
                                            src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S2_1200x1600-f2a7ae8676457d052c1344ce717dfb7a?h=854&resize=1&w=640">
                                    </div>
                                    <div class="col-8">
                                        <span class="edition-tag">
                                            EDITION
                                        </span>
                                        <span class="edition-title">
                                            Ultimate Edition
                                        </span>
                                        <div class="size-box"></div>
                                        <div class="edition-description">
                                            asdasda a sdasdasdasdasd asdasdad asdasdasdsad asdasdasd asdasdasd asdasd
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                    <!-- add-on -->
                    <div class="size-box"></div>
                    <div class="add-on">
                        <h2>Edition</h2>
                        <div class="game-detail-card">
                            <div class="first-row">
                                <div class="row">
                                    <div class="col-4">
                                        <img
                                            src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S2_1200x1600-f2a7ae8676457d052c1344ce717dfb7a?h=854&resize=1&w=640">
                                    </div>
                                    <div class="col-8">
                                        <span class="edition-tag">
                                            EDITION
                                        </span>
                                        <span class="edition-title">
                                            Ultimate Edition
                                        </span>
                                        <div class="size-box"></div>
                                        <div class="edition-description">
                                            asdasda a sdasdasdasdasd asdasdad asdasdasdsad asdasdasd asdasdasd asdasd
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Review -->
                    <div class="size-box"></div>
                    <div class="review">
                        <h2>Edition</h2>
                        <div class="game-detail-card">
                            <div class="first-row">
                                <div class="row">
                                    <div class="col-4">
                                        <img
                                            src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S2_1200x1600-f2a7ae8676457d052c1344ce717dfb7a?h=854&resize=1&w=640">
                                    </div>
                                    <div class="col-8">
                                        <span class="edition-tag">
                                            EDITION
                                        </span>
                                        <span class="edition-title">
                                            Ultimate Edition
                                        </span>
                                        <div class="size-box"></div>
                                        <div class="edition-description">
                                            asdasda a sdasdasdasdasd asdasdad asdasdasdsad asdasdasd asdasdasd asdasd
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right-collumn -->
            <div class="col-4">
                <div class="medium-banner">
                    <img
                        src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S2_1200x1600-f2a7ae8676457d052c1344ce717dfb7a?h=854&resize=1&w=640">
                </div>
                <div class="tag"></div>
                <div class="price">$60</div>
                <div class="add-cart-btn">
                    <button class="btn btn-outline-primary">Add to cart</button>
                </div>
                <div class="add-wishlist-btn">
                    <button class="btn btn-outline-primary">Add to wishlist</button>
                </div>
                <div class="brief">
                    <div class="row">
                        <div class="col">Dev</div>
                        <div class="col" style="text-align: right;">Dev</div>
                    </div>
                    <div class="row">
                        <div class="col">Dev</div>
                        <div class="col" style="text-align: right;">Dev</div>
                    </div>
                    <div class="row">
                        <div class="col">Dev</div>
                        <div class="col" style="text-align: right;">Dev</div>
                    </div>
                    <div class="row">
                        <div class="col">Dev</div>
                        <div class="col" style="text-align: right;">Dev</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<footer>

</footer>