<body>
    <div class="container">
        <div class="size-box"></div>
        <h2>Cart Detail</h2>
        <div class="cart">
            <div class="row">
                <div class="col-8">
                    <!-- Cart detail card -->
                    <div class="cart-card" *ngFor="let game of this.cart; index as i">
                        <div class="row">
                            <div class="col-4">
                                <img
                                    [src]="game.product.images[0].url">
                            </div>
                            <div class="col-8">
                              <button
                                    style="position:relative;float:right;width:3rem; background-color:rgb(72, 72, 72);
                                    border: none;color: white;border-radius: 5px;margin-top: 1rem;margin-right: 1rem;"
                                    (click)="this.removeItem(i)">X</button>

                                <div class="cart-detail">
                                    <div class="cart-detail-top">
                                        <p class="title">{{game.product.name}}</p>
                                        <div style="height:8px"></div>
                                        <p class="publisher">{{game.product.type}}</p>
                                        <div style="height:8px"></div>
                                        <p class="price">{{"$"+game.product.sale_price}}</p>
                                    </div>
                                    <div class="cart-detail-bottom">
                                        <div class="increment-button">
                                            <button class="increase-1" mat-button color="primary" (click)="this.decreaseCount(i)">-</button>
                                            <div class="number">
                                                {{game.count}}
                                            </div>
                                            <button class="increase-2" mat-button color="primary" (click)="this.increaseCount(i)">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <!-- Cart detail summary -->
                    <div class="cart-summary">
                        <p>Coupon</p>
                        <div class="coupon-card">
                            0% Discount
                        </div>
                        <div class="decorate"> </div>
                        <div class="total">
                            <span>Total</span>
                            <div class="price">{{this.totalPrice()}}</div>
                        </div>
                    </div>
                    <div class="size-box"></div>
                    <button class="checkout-btn" mat-button color="primary" (click)="this.nagivate()">PROCEED TO CHECKOUT</button>
                </div>
            </div>
        </div>

    </div>

</body>
<footer></footer>
