<header class="header">
    <mat-toolbar-row>
        <div class="header-right">
            <mat-form-field>
                <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">search
                </mat-icon>
                <input type="text" matInput placeholder="Search...">
                <div class="cart">
                    <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">shopping_cart
                    </mat-icon>
                </div>
                <div class="user">
                    <mat-icon class="search" aria-hidden="false" aria-label="Example user verified icon">person
                    </mat-icon>
                </div>
            </mat-form-field>
        </div>

    </mat-toolbar-row>
</header>

<body>
    <div class="container">
        <div class="cart">
            <div class="row">
                <div class="col-8">
                    <div class="cart-card">
                        <div class="row">
                            <div class="col-4">
                                <img
                                    src="https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S1_2560x1440-9790e96a8d2a08325bd7b4dc70148127?h=270&resize=1&w=480">
                                >
                            </div>
                            <div class="col-8">
                                <div>far cry</div>
                                <div>Ubisoft</div>
                                <div>$60</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="color: white;">
                    TAO DI NGU LAM HET NOI R
                </div>
            </div>
        </div>

    </div>

</body>
<footer></footer>