<div class="admin-header">
    <p>Quản lý Order</p>
</div>
<div class="container">
    <div class="card" style="padding: 1rem; margin-left: 1rem; display: flex; flex-direction: column;"></div>
    <!-- <Link to="/admin/add_game"> -->
    <button class="btn btn-default" style="float: right; margin-bottom:1rem; margin-top: 1rem;">Thêm +</button>
    <!-- </Link> -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ngày thanh toán</th>
                    <th>User</th>
                    <th>Phương thức thanh toán</th>
                    <th>Tình trạng</th>
                    <th>Ngày hủy</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>ID</td>
                    <td>{{order.paid_at}}</td>
                    <td>User</td>
                    <td>phương thức thanh toán</td>
                    <td>{{order.status}}</td>
                    <td>{{order.cancelled_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 1rem; float:right">
        <div class="row" style="margin-top: 1rem; float:right">
            <!-- <ReactPaginate className='phantrang' previousLabel={"prev"} nextLabel={"next"} breakLabel={"..."}
                        breakClassName={"break-me"} pageCount={this.state.pageCount} marginPagesDisplayed={2}
                        pageRangeDisplayed={5} onPageChange={this.handlePageClick} containerClassName={"pagination"}
                        subContainerClassName={"pages pagination"} activeClassName={"active"} disable={true} /> -->
        </div>
    </div>
</div>