<div class="admin-header">
    <p>Chi tiết card</p>
</div>

<div class="container">
    <div style="display:flex; flex-direction: column;">
        <div class="card">
            <div class="card-header">Thông tin Cart</div>
            <div class="row">
                <h6>Cart ID: </h6>
                <div class="container">
                    <div className="parent-row-1-container">
                        <div className="product-details-table">
                            <h6>Thông tin user</h6>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr className="tr-edit">
                                        <td>User ID</td>
                                        <td></td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Họ tên</td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>SDT</td>
                                        <td></td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Email</td>
                                        <td></td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Sinh nhật</td>
                                        <td></td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Tên tài khoản</td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Mật khẩu</td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr className="tr-edit">
                                        <td>Tình trạng cart</td>
                                        <td>cart status</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6>Danh sách game</h6>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên game</th>
                                            <th>Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>