<div>
    <div>
        <nav class="main-menu">
            <div style="height: 56px; background-color:#343a40; padding:1rem"></div>
            <div class="scrollbar" id="style-1">
                <ul>
                    <li>
                        <div to="/">
                            <i class="fa fa-gamepad fa-lg"></i>
                            <span class="nav-text">Games</span>
                        </div>
                    </li>
                    <li>
                        <div to="/cart_management">
                            <i class="fa fa-shopping-cart fa-lg"></i>
                            <span class="nav-text">Cart</span>
                        </div>
                    </li>
                    <li>
                        <div to="/collection_management">
                            <i class="fa fa-list fa-lg"></i>
                            <span class="nav-text">Collection</span>
                        </div>
                    </li>

                    <li>
                        <div to="/order_management">
                            <i class="fa fa-th fa-lg"></i>
                            <span class="nav-text">ORDER</span>
                        </div>
                    </li>
                    <li>
                        <div to="/user_management">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="nav-text">USER</span>
                        </div>
                    </li>
                    <li>
                        <div to="/vocher_management">
                            <i class="fa fa-money fa-lg"></i>
                            <span class="nav-text">VOUCHER</span>
                        </div>
                    </li>
                    <li>
                        <div to="/revenue_report">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-text">REVENUE</span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>