<body style=" background-color: #282C34;">
    <!-- NavBar -->
    <div class="navbar-wrapper">
        <nav style="margin-bottom: 0px;" class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo here</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Games</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input style="border-radius: 0;"
                        type="text" class="form-control" placeholder="Search">
                        <i style="position: absolute; margin-right: 2rem;" 
                        class="fa fa-search"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                    <li>
                        <a href="#">Sign In</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <!-- NavBar-2 -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li style="display: flex;">
                        <a>
                            <div class="money">
                                <i class="fa fa-money"></i>
                                <span>300.000 VND</span>
                            </div>
                        </a>
                        <a>
                            <div class="favorite">
                                <i class="fa fa-star"></i>
                                <span>0</span>
                            </div>
                        </a>
                        <a>
                            <div class="cart" id="cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>0</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="parent-layout">
        <!-- Section-1 -->
        <div class="container">
            <section>
                <div class="section-1-wrapper">
                    <iframe class="iframe-lg" src="https://www.youtube.com/embed/rXMX4YJ7Lks"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <!-- Game Card -->
                    <div class="game-card-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide"
                                    src="https://movieposterhd.com/wp-content/uploads/2019/03/Game-of-Thrones-Wallpaper-HD.jpg">
                            </div>
                            <div class="panel-body">
                                <div class="panel-icon-wrapper">
                                    <i class="fa fa-windows"></i>
                                    <i class="fa fa-windows"></i>
                                </div>
                                <p>99.99$</p>
                            </div>
                            <div class="panel-footer">
                                <button class="add-cart"><i class="fa fa-shopping-cart"></i>ADD TO CART</button>
                                <button class="add-wishlist"><i class="fa fa-star"></i>ADD TO WISHLIST</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-2 -->
            <section>
                <div class="section-2-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="Carousel" class="carousel slide">

                                <ol class="carousel-indicators">
                                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#Carousel" data-slide-to="1"></li>
                                    <li data-target="#Carousel" data-slide-to="2"></li>
                                </ol>

                                <!-- Carousel items -->
                                <div class="carousel-inner">

                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="img-sm-wrapper">
                                                    <img class="youtube-play-icon"
                                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/YouTube_play_buttom_dark_icon_%282013-2017%29.svg/768px-YouTube_play_buttom_dark_icon_%282013-2017%29.svg.png?20170902221125">
                                                    <img class="img-sm"
                                                        src="https://img.youtube.com/vi/rXMX4YJ7Lks/hqdefault.jpg">
                                                </div>
                                            </div>
                                            <div class="col-md-3"> <img class="img-sm"
                                                    src="https://img.youtube.com/vi/rXMX4YJ7Lks/hqdefault.jpg">
                                            </div>
                                            <div class="col-md-3"> <img class="img-sm"
                                                    src="https://img.youtube.com/vi/rXMX4YJ7Lks/hqdefault.jpg">
                                            </div>
                                            <div class="col-md-3"> <img class="img-sm"
                                                    src="https://img.youtube.com/vi/rXMX4YJ7Lks/hqdefault.jpg">
                                            </div>
                                        </div>
                                        <!--.row-->
                                    </div>
                                    <!--.item-->

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                        </div>
                                        <!--.row-->
                                    </div>
                                    <!--.item-->

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img
                                                        src="http://placehold.it/250x250" alt="Image"
                                                        style="max-width:100%;"></a></div>
                                        </div>
                                        <!--.row-->
                                    </div>
                                    <!--.item-->

                                </div>
                                <!--.carousel-inner-->
                                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                            </div>
                            <!--.Carousel-->

                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-3 -->
            <section>
                <div class="section-3-wrapper">
                    <div class="row">
                        <div class="container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="row">
                                    <div class="cells">
                                        <p>PLATFORM</p>
                                        <i class="fa fa-windows"></i>
                                        <i class="fa fa-windows"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cells">
                                        <p>OPERATING SYSTEM</p>
                                        <i class="fa fa-windows"></i>
                                        <i class="fa fa-windows"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cells">
                                        <p>GENRE</p>
                                        <span>Action, RPG, DatingSim</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="row">
                                    <div class="cells">
                                        <p>DEVELOPER</p>
                                        <span>Idknow</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cells">
                                        <p>PUBLISHER</p>
                                        <span>FromSoftware</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-4 -->
            <section>
                <div class="section-4-wrapper">
                    <p>VĂN BẢN KHÚC NÀY DÀI VCC LƯỜI CODE VCL ĐỂ SAU ĐÊ</p>
                </div>
            </section>
            <!-- Section-5 -->
            <section>
                <div class="section-5-wrapper">
                    <p>VĂN BẢN KHÚC NÀY CŨNG DÀI VCC LƯỜI CODE VCL ĐỂ SAU ĐÊ</p>
                </div>
            </section>

            <!-- Pop-up -->
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="close-buton">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="wrapper">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                    <div class="popup-item">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <i style="float: right;" class="fa fa-close"></i>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div>CHRONO CROSS: THE RADICAL DREAMERS EDITION</div>
                                <i class="fa fa-steam"></i>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <span>300.000.000VND</span>
                            </div>
                        </div>
                    </div>
                    <div class="popup-item">
                        <div class="flex-row">
                            <button>PayPal</button>
                            <button>Pay with Card</button>
                            <button>YAMERO TAKESHI</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        document.getElementById("cart").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "flex";
        })

        document.getElementById(".close-buton").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        })
    </script>
</body>