
<body>
  <div class="container">
    <div class="size-box"></div>
    <div class="row">
      <div class="col-1">
        <p class="category-text" (click)="this.nagivateToSearch('')">Discover</p>
      </div>
      <div class="col-10">
      </div>
    </div>
    <!-- big-banner -->
    <div class="row">
      <!-- left-collumn -->
      <div class="col-8">
        <ngb-carousel [interval]="3000" (slide)="this.onSlide($event)">
          <ng-template ngbSlide *ngFor="let game of this.hotCollection.list_game">
            <div class="picsum-img-wrapper" (click)="this.nagivate(game._id)">
              <img [src]="game.images[0].url" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>{{game.name}}</h3>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <!-- right-collumn -->
      <div class="col-4">
        <ng-container *ngFor="let game of this.hotCollection.list_game; index as i">
          <div class="game-slider" (click)="this.selectSlide(this.i)">
            <div class="game-slider-item">
              <img [src]="game.images[0].url">
              <p>{{game.name}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- top-sale -->
    <div class="size-box"></div>
    <h2 class="category-title" (click)="this.nagivateToSearch(this.topSaleCollection._id)">Top sale</h2>
    <div class="game-card-row">
      <div class="row">
        <ng-container *ngFor="let game of this.topSaleCollection.list_game; index as i">
          <div class="col" *ngIf="this.i<5" (click)="this.nagivate(game._id)">
            <div class="game-card">
              <img [src]="game.images[0].url">
            </div>
            <div class="game-card-text">
              <p class="title">{{game.name}}</p>
              <p class="publisher">{{game.publisher}}</p>
              <p class="price">{{"$"+game.sale_price}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- New release -->
    <div class="size-box"></div>
    <h2 class="category-title" (click)="this.nagivateToSearch(this.newReleaseCollection._id)">New Release</h2>
    <div class="game-card-row">
      <div class="row">
        <ng-container *ngFor="let game of this.newReleaseCollection.list_game; index as i">
          <div class="col" *ngIf="this.i<5" (click)="this.nagivate(game._id)">
            <div class="game-card">
              <img [src]="game.images[0].url">
            </div>
            <div class="game-card-text">
              <p class="title">{{game.name}}</p>
              <p class="publisher">{{game.publisher}}</p>
              <p class="price">{{"$"+game.sale_price}}</p>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
    <!-- Most Popular -->
    <div class="size-box"></div>
    <h2 class="category-title" (click)="this.nagivateToSearch(this.mostPopularCollection._id)">Most Popular</h2>
    <div class="game-card-row">
      <div class="row">
        <ng-container *ngFor="let game of this.mostPopularCollection.list_game; index as i">
          <div class="col" *ngIf="this.i<5" (click)="this.nagivate(game._id)">
            <div class="game-card">
              <img [src]="game.images[0].url">
            </div>
            <div class="game-card-text">
              <p class="title">{{game.name}}</p>
              <p class="publisher">{{game.publisher}}</p>
              <p class="price">{{"$"+game.sale_price}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Recent Update -->
    <div class="size-box"></div>
    <h2 class="category-title" (click)="this.nagivateToSearch(this.recentUpdateCollection._id)">Recent Update</h2>
    <div class="game-card-row">
      <div class="row">
        <ng-container *ngFor="let game of this.recentUpdateCollection.list_game; index as i">
          <div class="col" *ngIf="this.i<5" (click)="this.nagivate(game._id)">
            <div class="game-card">
              <img [src]="game.images[0].url">
            </div>
            <div class="game-card-text">
              <p class="title">{{game.name}}</p>
              <p class="publisher">{{game.publisher}}</p>
              <p class="price">{{"$"+game.sale_price}}</p>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</body>
